

/* Style the container/contact section */
.container {
    background-color: #4b7d45;
    color: #080808;

}

.container h2
{
    text-align: center;
    font-weight: bold;
    font-family: "Monotype Corsiva", "Times New Roman";
    font-size: 40   px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #080808;
}

.container p {
    font-family: "Times New Roman";
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    max-width: 500px;
    margin: 0 auto 8px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.google-map {
    padding-bottom: 80%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}