
.heading h4 {
    font-size:24px;
    font-weight: normal; /* or font-weight: 400; */
}

/* Navigation bar*/
* { /* Website frame*/
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: white; /* Nav bar's*/
    font-family: "Monotype Corsiva", "Times New Roman";
}

.heading {
    color: black;  /* Nav Title's*/
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black; /* Selections text : Home, about*/
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 30px; /*colour box's padding top, right,bottom */
}

.nav-links a:hover:not(.active) {
    background-color: #c3c9d4; /* Hover for colour*/
}

.nav-links li a.active {
    background-color: #4b7d45; /*Current page colour*/
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack items vertically */
    }

    .heading {
        text-align: center; /* Center text in the first row */
    }

    .nav-links {
        width: 100%; /* Take up the full width */
    }

    .nav-links a {
        padding: 10px 14px; /* Adjust padding for smaller screens */
    }
}
