
/* Gallery */
.photo-gallery {
    color:#080808; /* Title colour*/
    background-color:#4b7d45;
}

.photo-gallery p {
    color:#080808; /* description colour*/
    margin-bottom:0px;
    margin-right:0px;
}

.photo-gallery h2 {
    font-weight:bold;
    font-family:"Monotype Corsiva","Times New Roman";
    margin-bottom:10px;/*from title to description */
    padding-top:10px;/*from title to top*/
    color:inherit; /* also title colour*/
    font-size:50px; /*Title's*/
}

@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom:0px;
        padding-top:20px;
        font-size:34px;
    }
}


.photo-gallery .intro {
    font-family: "Monotype Corsiva","Times New Roman";
    font-size:23px; /*Description font size*/
    max-width:500px; /*Description width*/
    margin:0 auto 25px;
}

.photo-gallery .intro p {
    margin-bottom:0;
}

.photo-gallery .photos {
    padding-bottom:15px; /*Galery end space*/
}

.photo-gallery .item {
    padding-bottom:20px; /*spacing inbetween lines of photos */
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding-left: 25px;
    padding-right: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
/* - - - - -*/

.contacts-section {
    color: #322222; /* Description colour*/
    background-color: #ffffff; /* Contacts colours */
    padding: 0px /* From Title to top */
}

.contacts-section h2 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    font-family: "Monotype Corsiva","Times New Roman";
    margin-bottom: 10px; /*Spacing of Title*/
    padding-top: 10px; /* Padding of the background*/
    color: #313437; /* Title colour */
}


.contacts-section p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    max-width: 500px;
    margin: 0 auto 8px; /* Between the lines space*/
}



